/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Roboto, Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 100%;
    margin: 0 0;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 0 0;
}

.main article h1 {
  margin: 0;
}

.main article p {
  margin: 0;
}

.pledge-title {
  background-color: #252628;
  color: #CCCCCC;
  padding: 5%;
  text-align: center;
}

.pledge-title h1 {
 font-family: 'Playfair Display', serif;
 font-size: 50px;
 line-height: normal;
}

.pledge-content {
  background-color: #EDE3DE;
  color: #242528;
  line-height: 1.4;
  padding: 10%;
}

.pledge-content p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
}

.footer-container {
  height: 100px;
  padding: 10px 0;
  margin: 10px 0;
  text-align: center;
}

.more-info {
  margin: 5px 0;
}

ul {
  -webkit-padding-start: 0px;
}

.more-info li {
	list-style: none;
}

.intro-sentence {
  font-style: italic;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

  /* ============
      Intermediate: Main
     ============ */

     .pledge-title h1 {
      font-size: 7em;
     }

     .pledge-content p {
       font-size: 24px;
     }
}

@media only screen and (min-width: 1024px) {

/* ============
    WIDE: Main
   ============ */

    .pledge-title {
      float: left;
      padding: 0;
      width: 50%;
    }

    .pledge-title h1 {
     font-size: 8em;
     max-width: 640px;
    }

    .pledge-content {
      float: right;
      padding: 0 5%;
      width: 40%;
    }

    .pledge-content p {
      font-size: 24px;
      max-width: 640px;
    }

    .vertical-center {
      min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
      min-height: 100vh; /* These two lines are counted as one :-)       */

      display: flex;
      align-items: center;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
